In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.externals import joblib

In [2]:
# Download the data here
# The File realized.library01.csv has to be saved into xls format and converted with 
# the "Data -> Text to Columns" Function (Sperator is ",")

# Specifiy Path
path = "/Users/lukas/Desktop/HSG/2-Master/4_Masterthesis/Code/Data/realized.library01"

usecols = ['Dates', 
           'DJI_rv', 
           'FTSE_rv', 
           'GDAXI_rv', 
           'N225_rv', 
           'EUR_rv', ]

data = pd.read_excel(io = path + ".xls", skiprows = 1)
data = data[usecols]

# Format the Date column and make it to an Index
data['Dates'] = pd.to_datetime(data['Dates'], format = '%Y%m%d').dt.date
data = data.set_index('Dates')
data = data.interpolate(limit = 3).fillna(0.000001)
data = np.log(data)

In [3]:
# Interpolate and replace NaNs with zero
# data = data.interpolate(limit = 3).fillna(0.000001)

# Apply exp-transform
# data = np.log(data)

# Normalize the values between 0 and 1
# scaler = MinMaxScaler(feature_range = (0, 1))

#for cols in usecols[1:]:
#    data[cols] = scaler.fit_transform(np.log(data[cols].values.reshape(len(data[cols]),1)))

data.head()

               DJI_rv    FTSE_rv   GDAXI_rv    N225_rv     EUR_rv
Dates
1996-01-03 -10.879890 -13.815511 -10.223515 -13.815511 -13.815511
1996-01-04  -9.435458 -13.815511 -10.115960 -13.815511 -13.815511
1996-01-05 -10.077593 -13.815511 -10.416950 -13.815511 -13.815511
1996-01-08 -11.431323 -13.815511 -11.000386  -9.774052 -13.815511
1996-01-09 -10.157272 -13.815511 -10.429323  -9.419654 -13.815511

In [4]:
# Save Data Set
data.to_excel(path + "_normalized" +".xls" )
data.to_csv(path + "_normalized" +".csv" )

# Save Scaler
# scaler_filename = "MinMaxScaler.save"
# joblib.dump(scaler, scaler_filename) 
# scaler = joblib.load(scaler_filename)